.title {
  padding-bottom: 20px;
}

.plus-btn {
  background-color: skyblue;
  padding: 8px 14px;
  border: none;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}

.input-area {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.form-control {
  width: 85%;
  padding: 10px;
  border: 1px solid #bbb;
}

.form-control-edit {
  width: 80%;
  padding: 10px;
  border: 1px solid #eee;
}

.form-control:focus {
  outline: 1px solid blue;
}

.action-btn {
  width: 140px;
  height: 40px;
  background: none;
  border: 1px solid #bbb;
  color: #85898e;
  cursor: pointer;
}

.list-group {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

i {
  cursor: pointer;
}

.context {
  margin-left: 15px;
}

.filter,
.filter-two {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.filter-two .action-btn {
  width: 220px;
  margin-top: 20px;
}

.completed {
  text-decoration: line-through;
}

#remove {
  font-size: 20px;
  color: red;
  background-color: #fff;
  padding: 2px 5px;
  margin-left: auto;
}

.list-group-item {
  background-color: #eee;
  color: #000;
  padding: 10px 20px;
  border-bottom: 2px solid #fff;
  display: flex;
  align-items: center;
}

.editinputs {
  display: none;
}
